<div class="flex justify-center">
  <p-button (click)="showDialog()" icon="pi pi-sign-in" severity="secondary" label="Login" />
  <p-dialog maskStyleClass="backdrop-blur-lg"[(visible)]="visible" styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
            style="border-radius: 12px; background-color:white;">

        <div class="inline-flex flex-col gap-2">
          <label for="username" class="text-black font-semibold">Usuario</label>
          <input pInputText
                 id="username"
                 formControlName="username"
                 class="!bg-gray-200/80 !border-gray-300 !text-black !p-4 w-80" />
          @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
            <small class="text-red-500">Usuario requerido</small>
          }
        </div>

        <div class="inline-flex flex-col gap-2">
          <label for="password" class="!text-black font-semibold">Contraseña</label>
          <input pInputText
                 id="password"
                 formControlName="password"
                 type="password"
                 class="!bg-gray-200/80 !border-gray-300 !p-4 !text-black w-80" />
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <small class="text-red-500">Contraseña requerida (mín. 6 caracteres)</small>
          }
        </div>

        <div class="flex items-center gap-4">
          <p-button
            label="Cancelar"
            type="button"
            (click)="closeDialog()"
            [text]="true"
            styleClass="!bg-black/15 shadow-lg !p-4 w-full !text-red-600 !border !border-white/30 hover:!bg-gray-400/50"
            class="w-full" />
          <p-button
            label="Aceptar"
            type="submit"
            [disabled]="loginForm.invalid"
            [text]="true"
            styleClass="!bg-black/15 shadow-lg !p-4 w-full !text-green-700 !border !border-white/30 hover:!bg-gray-400/50"
            class="w-full" />
        </div>
      </form>
    </ng-template>
  </p-dialog>
</div>
