<div class="min-h-screen flex items-center justify-center p-4">
  <p-card class="w-full max-w-md shadow-2xl border-t-4 border-amber-400 overflow-hidden">

    <div class="text-center mb-8">
      <i class="pi pi-user-plus text-amber-400 text-4xl mb-3"></i>
      <h2 class="text-2xl font-black text-slate-700 uppercase tracking-wider">Nuevo Usuario</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col">

      <div class="mb-4">

      <div class="card flex justify-center">

        <p-iftalabel class="w-full">
          <input pInputText id="username" formControlName="username" autocomplete="off" class="w-full focus:!ring-2 focus:!ring-amber-400 focus:!border-amber-200"/>
          <label for="username">Username</label>
        </p-iftalabel>
      </div>

        <div class="h-5 mt-1 px-1">
          @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
          <small class="text-red-500 flex items-center gap-1 animate-fade-in">
            <i class="pi pi-exclamation-circle text-[10px]"></i>
            @if (registerForm.get('username')!.hasError('required')) { Campo requerido }
            @if (registerForm.get('username')!.hasError('minlength')) { Mínimo 6 caracteres }
          </small>
          }
        </div>

      </div>

      <div class="mb-4">
        <p-iftalabel class="w-full">
          <input pInputText id="email" formControlName="email" autocomplete="off"
            class="w-full focus:!ring-2 focus:!ring-amber-400 focus:!border-amber-200" />
          <label for="username">Email</label>
        </p-iftalabel>
        <div class="h-5 mt-1 px-1">
          @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
          <small class="text-red-500 flex items-center gap-1">
            <i class="pi pi-exclamation-circle text-[10px]"></i>
            Formato de correo inválido
          </small>
          }
        </div>
      </div>

      <div class="mb-6">
        <p-iftalabel class="w-full">
          <p-password formControlName="password" [feedback]="true" [fluid]="true" inputStyleClass="w-full focus:!ring-2 focus:!ring-amber-400 focus:!border-amber-400 transition-all" />
          <label for="password" class="font-semibold">Contraseña</label>
        </p-iftalabel>

        <div class="h-5 mt-1 px-1">
          @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <small class="text-red-500 flex items-center gap-1">
            <i class="pi pi-exclamation-circle text-[10px]"></i>
            Mínimo 6 caracteres
          </small>
          }
        </div>
      </div>

      <p-button type="submit" label="CREAR CUENTA" [disabled]="registerForm.invalid"
        styleClass="w-full !py-4 !bg-amber-500 !border-none hover:!bg-amber-500 transition-all shadow-lg active:scale-95 disabled:opacity-50">
      </p-button>

    </form>
  </p-card>
</div>
